<h4 class="text-center">Sign Up and show your product to World !</h4>

<form class="form mt-4" [formGroup]="newUserForm" (submit)="create()">
  <div class="form-group">
    <input placeholder="E-mail" class="form-control" formControlName="email" />
  </div>
  <div class="form-group">
    <input
      placeholder="Full Name"
      class="form-control"
      formControlName="fullName"
    />
  </div>
  <div class="form-group">
    <input
      placeholder="User Name"
      class="form-control"
      formControlName="userName"
    />
  </div>
  <div class="form-group">
    <input
      type="password"
      placeholder="Password"
      class="form-control"
      formControlName="password"
    />
  </div>

  <button class="btn btn-primary btn-block">Sign Up</button>
</form>

<p>Already User ? <a [routerLink]="['']">Log In</a></p>
