<div class="bg-white border" *ngIf="product$ | async as product">
  <div class="row">
    <div class="col-lg-8">
      <app-product
        [url]="product.url"
        [description]="product.description"
      ></app-product>
    </div>
    <div class="col-lg-4">
      <small>
        <p class="text-left break-word">
          {{ product.description }}
        </p>
        <i (click)="like()" class="fa fa-heart-o fa-2x mr-2 pull-left">{{
          product.likes
        }}</i>
        <i class="fa fa-comment-o fa-2x mr-2 ml-2">{{ product.comments }}</i>
        <i (click)="delete()" class="fa fa-trash-o fa-2x pull-right"></i>
      </small>
    </div>
  </div>
</div>
