<div class="container">
  <form [formGroup]="formProduct" class="row" (submit)="upload()">
    <div class="col-md-6 text-center">
      <div class="form-group" *ngIf="!preview; else previewImage">
        <button
          type="button"
          (click)="fileInput.click()"
          class="btn btn-primary"
        >
          <i class="fa fa-image fa-4x align-middle"></i>
        </button>
        <input
          #fileInput
          type="file"
          hidden
          formControlName="file"
          accept="image/*"
          (change)="saveFile($event.target)"
        />
      </div>
      <app-message
        message="Please select photo"
        *ngIf="!!formProduct.get('file')?.errors?.maxLength"
      ></app-message>
      <ng-template #previewImage>
        <app-product [url]="preview" title="Preview"></app-product>
      </ng-template>
    </div>
  </form>
</div>
